.page-background {
  background: linear-gradient(
    45deg,
    rgba(46, 2, 73, 1) 0%,
    rgba(88, 3, 79, 1) 25%,
    rgba(46, 2, 73, 1) 50%,
    rgba(88, 3, 79, 1) 75%,
    rgba(46, 2, 73, 1) 100%
  );
  margin-top: -4rem;
  padding-top: 6rem;
}
